<!DOCTYPE html>
<html lang="en">
<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    body{
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
    }
    {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1170px;
        margin:auto;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul {
        list-style: none;
    }
    
    .footer {
        background-color: black;
        padding: 70px 0;
    }
    
    .footer-col{
        width: 25%;
        padding: 0 15px;
        color:white
    }



</style>

</head>
<body>
    <footer class="footer" >
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>INTERESTS</h4>
                    <ul>
                        <li><a href="https://www.amrita.edu/academics/?interest=agriculture-sciences">Agriculture</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=arts-and-science">Arts & Sciences</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=ayurveda">Ayurveda</a></li>
                        <li><a href="https://www.amrita.edu/academics?paged=1&interest=management&">Business</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=mass-communication">Mass Communication</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=biotechnology">Biotechnology</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=dentistry">Dentistry</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=engineering">Engineering </a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=medicine">Medicine</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=nanoscience">Nano Sciences</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=nursing">Nursing</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=pharmacy">Pharmacy</a></li>
                        <li><a href="https://www.amrita.edu/academics/?interest=social-work">Social Work</a></li>
                        <li><a href="https://www.amrita.edu/school/sustainable-development/">Sustainable Development</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>PROGRAMS</h4>
                    <ul>
                        <li><a href="https://www.amrita.edu/academics/?dgr=undergraduate">Undergraduate</a></li>
                        <li><a href="https://www.amrita.edu/academics/?dgr=postgraduate">Postgraduate</a></li>
                        <li><a href="https://www.amrita.edu/academics/?dgr=integrated-degree">Integrated Degree</a></li>
                        <li><a href="https://www.amrita.edu/academics/?dgr=doctoral">Doctoral</a></li>
                        <li><a href="https://www.amrita.edu/academics/?dgr=international">International</a></li>
                        <li><a href="https://www.amrita.edu/academics/?dgr=certificate-courses">Certificate Courses </a></li>
                        <li><a href="https://www.amrita.edu/academics/?paged=1&dgr=online&">AHEAD Online Programs</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>RESEARCH</h4>
                    <ul>
                        <li><a href="https://www.amrita.edu/research/centers/">Centers</a></li>
                        <li><a href="#">Google Scholar</a></li>
                        <li><a href="https://www.amrita.edu/news-all/">News</a></li>
                        <li><a href="https://www.amrita.edu/patents/">Patents</a></li>
                        <li><a href="https://www.amrita.edu/publications/">Publications</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>ABOUT AMRITA</h4>
                    <ul>
                        <li><a href="https://www.amrita.edu/rankings/">Rankings</a></li>
                        <li><a href="https://www.amrita.edu/about/awards-accreditations/"> Accreditation</a></li>
                        <li><a href="https://www.amrita.edu/about/leadership/">Leadership</a></li>
                        <li><a href="https://www.amrita.edu/about/newsletter/">Newsletter</a></li>
                        <li><a href="https://www.amrita.edu/about/press-media/">Press Media</a></li>
                        <li><a href="https://www.amrita.edu/about/governance/">Governance</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>RESOURCES</h4>
                    <ul>
                        <li><a href="https://www.amrita.edu/aums/">AUMS</a></li>
                        <li><a href="https://www.amrita.edu/academic-calendar/">Academic Calendar</a> </li>
                        <li><a href="https://www.amrita.edu/campus-maps/">Campus Maps</a></li>
                        <li><a href="https://www.amrita.edu/web-support/">Web Support</a></li>
                        <li><a href="https://www.amrita.edu/archive/">Archive</a></li>
                        <li><a href="https://www.amrita.edu/esanad/">e-SANAD</a></li>
                        <li><a href="https://www.amrita.edu/digilocker/">DigiLocker</a></li>
                        <li><a href="https://dt19wmazj2dns.cloudfront.net/wp-content/uploads/2023/02/nad-circular-2023.pdf">Academic Bank of Credits (ABC)</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>LOCATIONS</h4>
                    <ul>
                        <li><a href="https://www.amrita.edu/campus/amritapuri/">Amritapuri</a></li>
                        <li><a href="https://www.amrita.edu/campus/amaravati/">Amaravati</a></li>
                        <li><a href="https://www.amrita.edu/campus/bengaluru/">Bengaluru</a></li>
                        <li><a href="https://www.amrita.edu/campus/chennai/">Chennai</a></li>
                        <li><a href="https://www.amrita.edu/campus/coimbatore/">Coimbatore</a></li>
                        <li><a href="https://www.amrita.edu/campus/kochi/">Kochi</a></li>
                        <li><a href="https://www.amrita.edu/school/asas/mysuru/">Mysuru</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>REPORTS</h4>
                    <ul>
                        <li><a href="#">IQAC</a></li>
                        <li><a href="#">NIRF</a>  </li>
                        <li><a href="#">NBA</a></li>
                        <li><a href="#">CIQA</a></li>
                        <li><a href="#">Disclosures</a></li>
                        <li><a href="#">Approvals</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/AmritaUniversity"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/AMRITAedu"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/user/AmritaUniversity"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/school/amrita-vishwa-vidyapeetham-official/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>